@import 'tailwindcss/preflight';
@tailwind utilities;

@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: 39 39 42;
  --card: 255 255 255;
  --card-foreground: 39 39 42;
  --popover: 255 255 255;
  --popover-foreground: 39 39 42;
  --primary: 59 130 246;
  --primary-foreground: 248 250 252;
  --secondary: 244 244 245;
  --secondary-foreground: 39 39 42;
  --muted: 244 244 245;
  --muted-foreground: 113 113 122;
  --accent: 244 244 245;
  --accent-foreground: 39 39 42;
  --destructive: 239 68 68;
  --border: 228 228 231;
  --input: 228 228 231;
  --ring: 147 197 253;
}

.dark {
  --background: #443e32;
  --foreground: 248 250 252;
  --card: 39 39 42;
  --card-foreground: 248 250 252;
  --popover: 39 39 42;
  --popover-foreground: 248 250 252;
  --primary: 248 250 252;
  --primary-foreground: 39 39 42;
  --secondary: 63 63 70;
  --secondary-foreground: 248 250 252;
  --muted: 63 63 70;
  --muted-foreground: 161 161 170;
  --accent: 63 63 70;
  --accent-foreground: 248 250 252;
  --destructive: 239 68 68;
  --border: 39 39 42;
  --input: 39 39 42;
  --ring: 113 113 122;
}

html,
body {
  font-family: 'Manrope', sans-serif;
  background-color: white;
  overscroll-behavior: none;
  background-color: var(--background);
  scroll-behavior: smooth;
}

.h1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}

.h2,
.h1-mobile {
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

.h3,
.h2-mobile {
  font-family: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
}

.h4,
.h3-mobile {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

.h5 {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.h4-mobile {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.uppercase {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: -0.01em;
}

.font-outline {
  color: transparent;
  -webkit-text-stroke: 2px #e2e2e2;
}

.btn-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.body-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.small-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@config '../tailwind.config.js';
